---
import "../styles/global.css";
import Header from '../components/Header.astro'
import Planificador from '../components/planificador'
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>UTN Correlativas</title>
  </head>
  <body class="">
    <Header />
	<main>
		<Planificador client:only="react"/>
	</main>
  </body>
</html>
