---

---

<header class="w-100% flex flex-col items-center py-5 bg-sky-600 text-white mb-1">
  <h1 class="font-bold text-4xl">UTN Correlativas</h1>
  <aside>
    <small>Ing. en Sistemas - Plan de estudios 2023 - Ordenanza 1877</small>
  </aside>
</header>
